@(recipeForm: Form[Recipe])

@import helper._
@import helper.twitterBootstrap._

@main("New Recipe") {

@helper.form(action = routes.Application.createPost) {

    @inputText(
        recipeForm("id"),
        '_label -> "Unique id"
    )

    @inputText(
        recipeForm("name"),
        '_label -> "Recipe name"
    )

    
    <div class="actions">
        <input type="submit" class="btn btn-primary" value="Create">
        <a href="@routes.Application.index" class="btn">Cancel</a>
    </div>

}

}
