@(all: Seq[Recipe], success: Option[String] = None, error: Option[String] = None)

@main("Recipes Note") {

@success.map { msg =>
<div class="alert alert-success">
@msg
</div>
}

@error.map { msg =>
<div class="alert alert-error">
@msg
</div>
}

<table class="table table-bordered">

@all.map { recipe =>
    <tr>
        <td>@recipe.name</td>
        <td>1h</td>
        <td width="100px"><a class="btn" href="@routes.Application.show(recipe.id)">Read it</a></td>
        <td width="100px">
            <form method="POST" action="@routes.Application.delete(recipe.id)">
            <input class="btn btn-danger" type="submit" value="Delete it">
            </form>
        </td>
    </tr>
}

</table>

<a href="@routes.Application.create()" class="btn btn-primary">Add a recipe</a>

}
