*.class
*.log

/dynamodb-local
/fakes3

/Gemfile.lock

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history

# Scala-IDE specific
.scala_dependencies

# Eclipse
.cache
.classpath
.project
.settings
.target
.DS_Store

# IntelliJ
.idea
.idea_modules
*.ipr
*.iws